*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.carousel-item{
  height: 100vh;
  min-height: 300px;
}

.navbar-brand img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

h5.animate__animated.animate__fadeInDown {
  font-size: 40px;

}

.carousel-caption{
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-caption a{
  text-transform: uppercase;
  text-decoration: none;
  background: crimson;
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
}
.carousel-inner:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.nav-link.login-link {
  background: crimson;
  color: white !important;
  border-radius: 5px;
  font-weight: 400;
  text-decoration: none;
  padding: .5rem 1.5rem;
  line-height: 1.2;
}
.nav-link.login-link:hover {
  background: darkred;
}

.navbar-nav a{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;  
}
.navbar-light .navbar-brand{
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width:991px){
  .carousel-caption{
    bottom: 370px;
  }
  .carousel-caption p{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  navbar-nav{
    text-align: center;
  }
  .carousel-caption{
    bottom: 165px;
  }

  h5.animate__animated.animate__fadeInDown {
    font-size: 20px;
  
  }
  
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
}
  .carousel-caption h5{
    font-size: 17px;
  }
  .carousel-caption a{
    padding:  10px 15px;
    font-size: 15px;
  }
}

.services {
  background-color:#fefefe;
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 36px;
  color: crimson;
  margin-bottom: 40px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.services:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 40px;
  color: rgb(4, 184, 4);
}

.services-title {
  font-size: 24px;
  margin: 10px 0;
  color: #101E4A;
}

.services-description {
  font-size: 18px;
  color: #333;
}

@media (max-width: 767px) {
  .services-card {
      width: 80%; 
      margin: 30px; 
  }
}
 /*-----quick book section-----*/
 
.custom-card {
   width: 18rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin: 10px;
}
.custom-button {
   background-color: crimson;
   color: white;
}

  /*-----car lists section-----*/
  :root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  
  @media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  